td
{
    padding: 0.2rem 1rem;
    border: 0.1rem solid #000;

}
#register
{
    padding: 0.1rem 1rem;
    border: 0.2rem solid black;
    transition: 0.5s;
    margin-top: 2rem;
}
#register:hover
{
    box-shadow: 0.1rem 0.1rem 0 0 black;
}
#bnx
{
    border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 0.2rem solid black;
  margin-right: 5rem;
  padding-left: 1rem;
}